<% include header.ejs %>
<section class="bg-light" class="main">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <h1 class="main-title">
                        <%= __("Bienvenido a") %> <%= title %>
                    </h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th><%= __("Nombre") %></th>
                                <th><%= __("En venta") %></th>
                                <th><%= __("Precio") %></th>
                                <th style="text-align: center">
                                    <%= __("Foto") %>
                                </th>
                                <th><%= __("Etiquetas") %></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% anuncios.forEach(function(anuncio) { %>
                            <tr>
                                <td><%= anuncio.nombre %></td>
                                <td><%= anuncio.venta ? 'Sí' : 'No' %></td>
                                <td style="text-align: right">
                                    <%= anuncio.precio %>€
                                </td>
                                <td>
                                    <div class="foto_anuncio-container">
                                        <img
                                            class="foto_anuncio"
                                            src="/images/<%= anuncio.foto %>"
                                        />
                                    </div>
                                </td>
                                <td><%= anuncio.tags %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
</section>
<% include footer.ejs %>
