<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <ul class="lista_anuncios">
            <% listaDeAnuncios.forEach(function(anuncio){ %>
            <li>
                <%= anuncio.nombre %>
                <span> <b><%= anuncio.precio %>€</b></span>
                <span> [<%= anuncio.tags %>] </span>
                <div class="foto_anuncio-container">
                    <img
                        class="foto_anuncio"
                        src="/images/<%= anuncio.foto %>"
                    />
                </div>
            </li>
            <% }); %>
        </ul>
    </body>
</html>
