<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%= __("Bienvenido a") %> <%= title %></h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Venta</th>
                    <th style="text-align: right">Precio</th>
                    <th>Foto</th>
                    <th>Tags</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <% listaDeAnuncios.forEach(function(anuncio) { %>
                <tr>
                    <td><%= anuncio.nombre %></td>
                    <td><%= anuncio.venta ? 'Si' : 'No' %></td>
                    <td style="text-align: right"><%= anuncio.precio %>€</td>
                    <td>
                        <div class="foto_anuncio-container">
                            <img
                                class="foto_anuncio"
                                src="/images/<%= anuncio.foto %>"
                            />
                        </div>
                    </td>
                    <td><%= anuncio.tags %></td>
                    <td><%= anuncio._id %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
</html>
